.button-container {
  height: 30px;
  width: 90px;
  color: black;
  background-color: transparent;
  border: 2px solid orange;
  border-radius: 20px;

  border: 2px solid orange;
}
.tab-item-list {
  list-style-type: none;
  margin-left: 1%;
}
